/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_tree ./icomoon
 *= require_self
 */
/*!
 * Project getgo main css v0.1
 * Year: 2015 
 * Author: Domonkos Horvath
 */
/* getgo UI CSS */


.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 0 0 0 0;
  background-color: #EDEFF0;
}

.getgo-content {
  margin: 0px 5px;
}

.container-fluid {
  padding: 0px 5px;
}

/****** NAVBAR ******/
.navbar {
  display: block;
  text-align: center;
  background-color: #EDEFF0;
}

.navbar-toggle {
  float: right;
  margin-left: 15px;
}

.navbar-brand {
  display: block;
  float: none;
}

.navbar-page-title{
  display: inline-block;
  float: none;
  height: 50px;
  padding: 10px 10px 10px 20px;
  margin: 0px;
  font-size: 20px;
  line-height: 30px;
  font-family: "OmnesSemibold", "SourceSansPro", Helvetica, Arial, sans-serif;
  color: #3D474F;
}

.navbar-getgo-logo{
  display: inline-block;
  float: left;
  height: 50px;
  padding: 8px 0px;
  margin-left: 15px;
  font-size: 34px;
  line-height: 34px;
  color: #8D9AA5;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navbar-getgo-logo:hover{
  color: #44B782;
}

.navbar-fixed-top{
  border: none;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
  color: #3D474F;
}

.scroll-shadow{
  -webkit-box-shadow: 0px 10px 4px -8px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 4px -8px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 4px -8px rgba(0,0,0,0.2);
}

.getgo-top-nav {
  display: none ;
}

/** NAVBAR TOGGLE HAMBURGER - X animation **/

.navbar-toggle {
  border: none;
  margin-top: 8px;
  margin-bottom: 7px;
  padding: 9px 0px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #8D9AA5;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #3D474F;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  background-color: #8D9AA5;
  width: 26px;
  height: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.hamburger .top-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.hamburger .middle-bar {
  opacity: 1;
}
.navbar-toggle.hamburger .bottom-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}

/****** NAVMENU ******/

.navmenu-fixed-left, .navbar-offcanvas.navmenu-fixed-left {
  right: 0;
  left: auto;
  border: none;
}

.navmenu {
  z-index: 1;
  width: 270px;
  background-color: #3D474F;
  border: none;
  /*padding-top: 50px;*/
}

.navmenu-default .navmenu-nav > li > a > i,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a > i {
  display: none;
}

.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: #5F676D;
  border-radius: 5px;
  margin: 2px 10px;
  padding: 10px 10px;
  font-size: 20px;
  font-family: "OmnesMedium", "SourceSansPro", Helvetica, Arial, sans-serif;
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
  color: #F9FAFA;
  background-color: transparent;
  
}
.navmenu-default .navmenu-nav > .active > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a,
.navmenu-default .navmenu-nav > .active > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover,
.navmenu-default .navmenu-nav > .active > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus {
  color: #F9FAFA;
  background-color: #2D353B;
}
.navmenu-default .navmenu-nav > .disabled > a,
.navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a,
.navmenu-default .navmenu-nav > .disabled > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a:hover,
.navmenu-default .navmenu-nav > .disabled > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > .disabled > a:focus {
  color: #F9FAFA;
  background-color: transparent;
}

.navmenu-brand {
  display: block;
}

.navmenu-account-info{
  border-bottom: 1px solid #2D353B;
  color: white;
  height: 49px;
}
.navmenu-account-info a {
  color: #fff !important;
  padding: 5px !important;
}

.navmenu-account-info a img{
  margin-right: 10px;
  border: 3px solid #4DCD82;
  height: 35px;
  width: 35px;
}
.navmenu-account-sign-in {
  border-bottom: 1px solid #2D353B;
  font-size: 20px;
  height: 49px;
}
.navmenu-account-sign-in i{
  display: inline-block !important;
  font-size: 22px;
  padding-right:10px;
}

/****** CUSTOM ELEMENTS ******/

/****** ROADMAP PAGE CUSTOMS STYLES ******/

.roadmap-scroll{
  margin-left: -10px;
  margin-right: -10px;
  height: 80px;
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch; 
}
/* this is the horizontal line */
.roadmap-scroll::before {
  content: '';
  position: absolute;
  top: 38px;
  left: 0px;
  height: 4px;
  width: 100%;
  background: #BFC7CE;
}
.roadmap-scroll ul:after {
  content: '';
  display: inline-block;
}
.nav-roadmap {
  border: none;
  position: relative;
  text-align: justify; /* 3 */
  overflow-y: hidden;
  display: block;
  white-space: nowrap;
}

/* Roadmap content */
.roadmap-content {
  margin-top: 10px;
}
.roadmap-content h3 {
  margin-top: 15px;
}
.roadmap-item-description {
  padding: 15px 0px;
}

.roadmap-comment textarea {
  margin-bottom: 5px;
}
.roadmap-comment .user-comment {
  margin-bottom: 5px;
  background: rgba(250,212,107,0.7);
  color: #5F676D;
}
.roadmap-comment button {
  margin-left: 5px;
}

/* Roadmap navigation */
.nav-roadmap>li {
  display: inline-block;
  margin-bottom: -1px;
}
.nav-roadmap > li,
.nav-roadmap > li:active,
.nav-roadmap > li:focus,
.nav-roadmap > li:hover {
  border:none;
}
.nav-roadmap > li > a {
  color: #8D9AA5;
}
.nav-roadmap > li > a:focus,
.nav-roadmap > li > a:active,
.nav-roadmap > li > a:hover {
  border-color: transparent;
  background: none;
  color: #3D474F;
}
.nav-roadmap > li > a > i {
  font-size: 50px;
}
.nav-roadmap > li.active > a,
.nav-roadmap > li.active > a:hover,
.nav-roadmap > li.active > a:focus {
  color: #3D474F;
  border: none;
  font-family: "OmnesSemibold", "SourceSansPro", Helvetica, Arial, sans-serif;
  background: none;
}

.round-button {
  padding: 10px 15px;
  text-align:center;
  font-size: 30px;
}
.round-button-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #BFC7CE;
  overflow: hidden;
  background: #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  color: #5F676D;
  text-decoration:none;
  padding-top: 7px;
}
.round-button-circle:hover {
  border-color: #44B782;
  color: #3D474F;
}
.round-button i {
  padding: 7px 7px;
}

/* Completed procedure */

.completed .round-button-circle {
  background: #4DCD82;
}

.completed .round-button-circle a {
  color: #fff;
}

/****** ROADMAP CUSTOM ITEMS ******/

.welcome .round-button-circle {
  border: none;
  border-radius: 0;
  background: #EDEFF0;
  width: 46px;
}
.welcome .round-button a {
  font-size: 50px;
  margin-left: -2px;
  color: #BFC7CE;
  padding: 0px;
}
.welcome .round-button a:hover,
.welcome .round-button a:focus,
.welcome .round-button a:active {
  color: #4DCD82;
}
.welcome .round-button a > i {
  padding-left: 0px;
  padding-right: 0px;
}
.housing.active,
.housing .round-button-circle:hover,
.housing .round-button-circle:focus,
.housing .round-button-circle:active {
  border-color: #44B782;
}
.housing-benefit.active,
.housing-benefit .round-button-circle:hover,
.housing-benefit .round-button-circle:focus,
.housing-benefit .round-button-circle:active {
  border-color: #009DCD;
}
.public-transportation.active,
.public-transportation .round-button-circle:hover,
.public-transportation .round-button-circle:focus,
.public-transportation .round-button-circle:active {
  border-color: #768FC7;
}
.health-insurance.active,
.health-insurance .round-button-circle:hover,
.health-insurance .round-button-circle:focus,
.health-insurance .round-button-circle:active {
  border-color: #E74343;
}
.visa.active,
.visa .round-button-circle:hover,
.visa .round-button-circle:focus,
.visa .round-button-circle:active {
  border-color: #F3BC65;
}
.telecommunication.active,
.telecommunication .round-button-circle:hover,
.telecommunication .round-button-circle:focus,
.telecommunication .round-button-circle:active {
  border-color: #9175BD;
}
.bank.active,
.bank .round-button-circle:hover,
.bank .round-button-circle:focus,
.bank .round-button-circle:active {
  border-color: #44B782;
}
.moving.active,
.moving .round-button-circle:hover,
.moving .round-button-circle:focus,
.moving .round-button-circle:active {
  border-color: #EC7886;
}

/****** ROADMAP ACCORDION ELEMENTS ******/

.panel-group-roadmap{
  margin-left: -15px;
  margin-right: -15px;
}
.panel-roadmap{
  border-radius: 0px;
  margin: 0px;
  margin-bottom: -1px;
  border: none;
}
.panel-roadmap .panel-title{
  font-size: 17px;
  font-family: "OmnesSemibold", "SourceSansPro", Helvetica, Arial, sans-serif;
  line-height: 18px;
}  
.panel-roadmap > .panel-heading {
  border-radius: 0px;
  border-top: 1px solid #D4D9DD;
  border-bottom: 1px solid #D4D9DD;
  background-color: #F9FAFA;
  margin: 0px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.panel-roadmap > .panel-heading:hover {
  background-color: #F8F8F8;
}
.panel-title-btn {
  float: right;
}
.panel-title-btn a {
  color: #D4D9DD;
}
.panel-title-btn a:hover {
  color: #44B782;
}
.panel-roadmap .panel-title-btn:after {
  font-family: 'FontAwesome';
  content:"\f111";
  color:  #D4D9DD;
  float: right;
  padding-left: 10px;
  font-size: 24px;
  line-height: 18px;
}
.panel-roadmap .panel-title.done .panel-title-btn:after {
  font-size: 24px;
  line-height: 18px;
  content:"\f058";
  color: #44B782;
}


/****** STARRR RATING ******/

.starrr {
  display: inline-block; 
}
.starrr i {
  font-size: 18px;
  padding: 0 1px;
  cursor: pointer;
  color: #F3BC65;
}
.buddy-info{
  padding: 15px 0px 5px 0px;
}
.buddy-location{
  margin-bottom: 10px;
  color: #8D9AA5;;
}
.buddy-location i{
  padding-left: 15px;
  padding-right: 5px;
  color: #3D474F;
}
.user-rating{
  font-size: 18px;
}
.fa-star{
  color: #F3BC65;
}
.star-gray {
  color: #BFC7CE;
}

/****** LIBRARY ******/

.panel-library .panel-body .row-same-height {
  height: 200px;
}
.panel-library p {
  color: #5F676D;
}
.panel-library h4 {
  margin-top: 0px;
}
.panel-library .fa-stack-1x {
  color: #3D474F;
}
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}
.category-icon-placeholder{
  position: relative;
}
.category-icon{
  position: absolute;
  height: -moz-calc(100% + 30px);
  height: -webkit-calc(100% + 30px);
  height: -o-calc(100% + 30px);
  height: calc(100% + 30px);
  width: -moz-calc(100% + 15px);
  width: -webkit-calc(100% + 15px);
  width: -o-calc(100% + 15px);
  width: calc(100% + 15px);
  margin: -15px -15px -15px -30px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}
.icon-vertical{
  font-size: 36px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-left {
  float:left;
  text-align: center;
}
.content-right{
  float:right;
}
.library-item-description {
  height: 100px;
  width: 100%;
  text-overflow: ellipsis;
}
.library-roadmap-details {
  height: 140px;
}
.library-roadmap-details i {
  padding-right: 10px;
}
.library-roadmap-rating {

}


/****** FOOTER ******/

footer {
  padding: 10px 5px;
  margin: 10px 15px 0px 15px;
  text-align: center;
  border-top: 1px solid #e2e5e8;
}
footer i {
  color: #BFC7CE;
  font-size: 36px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
footer i:active,
footer i:focus,
footer i:hover {
  color: #4DCD82;
}
footer p {
  color: #BFC7CE;
}


/****** CATEGORY COLORS ******/

.bank-color{
  background-color: #44B782;
}
.housing-color{
  background-color: #5EC3BC;
}
.caf-color{
  background-color: #009DCD;
}
.health-insurance-color{
  background-color: #E74343;
}
.visa-color{
  background-color: #F3BC65;
}
.telecommunication-color{
  background-color: #9175BD;
}
.moving-color{
  background-color: #EC7886;
}
.public-transport-color{
  background-color: #768FC7;
}
.roadmap-color{
  background-color: #FAD46B;
}
.living-color{
  background-color: #F58C66;
}


/****** MEDIA QUERIES ******/

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {

  body {
    padding: 0 0 0 100px;
  }

  .getgo-content {
    margin: 0px 15px;
    min-height: 400px;
  }

  .navbar {
  display: block;
  text-align: left;
  margin-left: 110px;
  margin-right: 10px;
  padding: 0px ;
  }

  .navbar-toggle {
  display: none !important;
  }

  .navbar-getgo-logo{
    display: none;
  }

  .scroll-shadow{
  -webkit-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 5px -4px rgba(0,0,0,0.2);
  }

  .getgo-top-nav {
    display: block;
    font-family: "OmnesMedium", "SourceSansPro", Helvetica, Arial, sans-serif;
    color: #3D474F;
    font-size: 18px;
    margin-right: 0px;
  }

  .getgo-top-nav > li > a > img{
    margin-left: 10px;
  }

  .getgo-top-nav > li > a {
    padding: 8px 5px 7px 5px;
    line-height: 30px;
    color: #BFC7CE;
  }

  .getgo-top-nav > li > a > i {
    color: #BFC7CE;
    font-size: 22px;
/*  border-left: 1px solid #D4D9DD;*/
    padding: 5px 5px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .getgo-top-nav li > a > i:hover,
  .getgo-top-nav li > a > i:focus{
    color: #8D9AA5;
  }

  .welcome-user{
    color: #8D9AA5;
  }
  .user-name {
    color: #3D474F;
  }
  .profile-picture{
  border: 3px solid #4DCD82;
  height: 35px;
  width: 35px;
  }

  .navmenu {
    z-index: 2;
    padding-top: 0;
    width: 100px;
    text-align: center;

  }
  .navmenu-default .navmenu-nav > li > a > i,
  .navbar-default .navbar-offcanvas .navmenu-nav > li > a > i {
  display: inline-block;
  padding: 5px 20px;
  font-size: 36px;
  text-shadow: 0 1px 0 #2D353B;
  }

  .navmenu-default .navmenu-nav > li > a,
  .navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  font-size: 13px;
  border-radius: 0px;
  margin:5px 0px;
  padding: 5px 0px;
  }

  .navmenu-fixed-left, .navbar-offcanvas.navmenu-fixed-left {
  left: 0;
  right: auto;
  border: none;
  }
  .navmenu-account-info{
    display: none !important;
  }

  .canvas {
    padding: 50px 0 0 0;
  }

  .roadmap-scroll::before {
    content: '';
    position: absolute;
    top: 88px;
    left: 0px;
    margin-left: 30px;
    width: 750px;
  }

  footer {
    padding: 30px 15px;
    margin: 60px 15px 0px 15px;
    text-align: center;
    border-top: 1px solid #e2e5e8;
  }

} /* query 992 end */

@media (min-width: 1500px) {
  .getgo-content {
    width: 1370px;
    margin-left: none;
  }
  .navbar {
    width: 1380px;
  }
}


